Repository woowa-techcamp-2020/todo-15, pull requests merged in 2020-07, with the labels that each got.

#5 [config] front-end webpack 설정 완료
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: config, enhancement, frontend

#8 [front] meta 태그 완성
  frontend/src/index.html
Labels: documentation, frontend, layout

#11 webpack과 scss 연동 설정
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/app.js
  frontend/src/scss/main.scss
  frontend/webpack.common.js
Labels: config, css, frontend

#12 Layout/main markup
  frontend/src/index.html
Labels: frontend, html, layout

#13 [backend] db 서버 연결
  .vscode/settings.json
  backend/app.js
  backend/bin/www
  backend/db/connection.js
  backend/package-lock.json
  backend/package.json
  backend/public/stylesheets/style.css
  backend/views/error.jade
  backend/views/index.jade
  backend/views/layout.jade
Labels: backend, config, db

#16 Layout/main markup
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/normalize.css
  frontend/src/scss/main.scss
  package-lock.json
Labels: css, frontend, html, layout

#21 [db/todolist] TodoList Table 생성
  backend/db/connection.js
  backend/db/query/createTable.js
Labels: backend, db

#25 [db/todolist] insertTodo & getTodoList 모듈 완성
  backend/db/TodoList/getTodoList.js
  backend/db/TodoList/insertTodo.js
  backend/db/User/insertUser.js
  backend/db/connection.js
  backend/db/query/createTable.js
Labels: backend, db

#26 Layout/main markup
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/scss/_variables.scss
  frontend/src/scss/main.scss
  frontend/webpack.common.js
Labels: css, frontend, layout

#31 Add column
  frontend/babel.config.js
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/addContainer.js
  frontend/src/modules/containerItem.js
  frontend/src/modules/renderItem.js
  frontend/src/modules/todoItem.js
  frontend/src/scss/main.scss
Labels: feature, frontend, layout

#32 [api/get/todolist] todolist get api 완성
  backend/app.js
  backend/bin/www
  backend/db/connection.js
  backend/db/query/createTable.js
  backend/functions/todoCallback.js
  backend/package.json
  backend/routes/index.js
  backend/routes/todo.js
  backend/routes/users.js
  backend/utils/errorMessage.js
  backend/utils/statusCode.js
Labels: backend, db

#41 Get/todo/refactor
  backend/db/query/createTable.js
  backend/functions/todo.js
  backend/routes/todo.js
Labels: backend

#45 status -> group으로 이름 변경
  backend/db/query/createTable.js
Labels: db

#47 새로운 컬럼을 추가하는 ui생성
  frontend/src/index.html
  frontend/src/scss/main.scss
  frontend/webpack.common.js
Labels: css, frontend, layout

#48 Db/todo
  backend/db/TodoList/getTodoList.js
  backend/db/TodoList/insertTodo.js
  backend/db/query/createTable.js
  backend/functions/todoCallback.js
Labels: backend, db

#57 Render items
  backend/app.js
  backend/package-lock.json
  backend/package.json
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/container.js
  frontend/src/modules/toggleInput.js
  frontend/src/scss/_variables.scss
  frontend/src/scss/main.scss
Labels: feature, frontend

#58 GET api/todo/count
  backend/db/TodoList/getTodoCount.js
  backend/db/query/createTable.js
  backend/functions/todo.js
  backend/routes/todo.js
Labels: api, db

#61 api와 연동해서데이터베이스에 저장된 컬럼과 각 투두리스트 아이템 렌더링 구현
  backend/db/TodoList/insertTodo.js
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/container.js
  frontend/src/modules/item.js
  frontend/src/scss/_variables.scss
  frontend/src/scss/main.scss
Labels: feature, frontend

#65 Hot fix
  frontend/src/app.js
  frontend/src/modules/container.js
  frontend/src/modules/item.js
  frontend/src/modules/toggleInput.js
  frontend/src/scss/_article.scss
  frontend/src/scss/_aside.scss
  frontend/src/scss/_container.scss
  frontend/src/scss/_item.scss
  frontend/src/scss/_menu.scss
  frontend/src/scss/main.scss
  frontend/webpack.common.js
Labels: css, enhancement, frontend, hot-fix

#68 Add todo item
  frontend/src/app.js
  frontend/src/modules/container.js
  frontend/src/modules/toggleBtn.js
  frontend/src/modules/toggleInput.js
Labels: enhancement, feature, frontend

#72 새로운 투두리스트 추가하는 함수 작성
  frontend/src/app.js
  frontend/src/components/container.js
  frontend/src/components/item.js
  frontend/src/modules/toggleBtn.js
Labels: enhancement, feature, frontend

#74 cancel버튼으로아이템 추가창 닫기 구현
  frontend/src/components/container.js
  frontend/src/modules/toggleBtn.js
  frontend/src/modules/toggleInput.js
Labels: feature, frontend

#79 todolist 추가시 발생하는 버그 수정 및 입력창 토글 시 최상단으로 스크롤 이동하도록 수정
  .vscode/launch.json
  frontend/src/app.js
  frontend/src/components/container.js
  frontend/src/components/item.js
  frontend/src/components/main.js
  frontend/src/modules/addTodoList.js
  frontend/src/modules/fetchManger.js
  frontend/src/modules/toggleBtn.js
  frontend/src/modules/toggleInput.js
  frontend/src/scss/_article.scss
  frontend/src/scss/_container.scss
  frontend/src/scss/_item.scss
  frontend/src/scss/main.scss
Labels: bug, css, enhancement, feature, frontend

#82 Delete item
  frontend/src/app.js
  frontend/src/components/item.js
  frontend/src/modules/addTodoList.js
  frontend/src/modules/deleteTodoList.js
  frontend/src/modules/fetchManger.js
  frontend/src/scss/main.scss
Labels: feature, frontend

#86 Column bug fix
  backend/db/TodoList/distinctColumns.js
  backend/functions/todo.js
  backend/routes/todo.js
  frontend/src/components/main.js
  frontend/src/modules/deleteTodoList.js
Labels: api, backend, bug, feature, frontend

#88 [todo list/revise] todo 추가하는 로직 리팩토링 및 모듈화
  frontend/src/app.js
  frontend/src/components/item.js
  frontend/src/components/main.js
  frontend/src/modules/addTodo.js
  frontend/src/modules/addTodoList.js
  frontend/src/modules/fetchManger.js
Labels: frontend

#89 Delete todo list/revise
  frontend/src/app.js
  frontend/src/components/item.js
  frontend/src/components/main.js
  frontend/src/modules/deleteTodo.js
Labels: frontend

#94 Modal
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/addTodo.js
  frontend/src/modules/modal.js
  frontend/src/modules/toggleBtn.js
  frontend/src/modules/toggleInput.js
  frontend/src/scss/main.scss
  frontend/src/scss/modal.scss
Labels: feature, frontend

#93 textarea html&css 수정
  frontend/src/components/container.js
  frontend/src/scss/_container.scss
Labels: frontend

#96 모달 함수 구조 변경
  frontend/src/app.js
  frontend/src/modules/modal.js
Labels: enhancement, frontend

#101 Sidebar ui, css 작성 및 열고 닫는 로직 구현
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/sidebar.js
  frontend/src/scss/_sidebar.scss
Labels: css, feature, frontend, layout

#103 Modal/close/revise
  frontend/src/modules/deleteTodo.js
Labels: feature, frontend

#105 Sidebar css 애니메이션 적용
  frontend/src/index.html
  frontend/src/scss/_sidebar.scss
Labels: css, frontend

#106 컬럼의 아이템 개수 이상하게 나오는 거 수정
  frontend/src/components/item.js
  frontend/src/components/main.js
  frontend/src/modules/dragAndDrop.js
  frontend/src/scss/_item.scss
Labels: bug, hot-fix

#107 Update/patch/api
  frontend/src/components/main.js
  frontend/src/modules/addTodo.js
  frontend/src/modules/deleteTodo.js
  frontend/src/modules/fetchManger.js
  frontend/src/modules/modal.js
  frontend/src/modules/patchTodo.js
  frontend/src/modules/utils/fetchManger.js
Labels: frontend

#109 add/버그 수정
  backend/db/TodoList/insertTodo.js
  frontend/src/modules/addTodo.js
Labels: bug, frontend

#111 groupTitle/update
  backend/db/Column/patchColumn.js
  backend/functions/column.js
  backend/functions/todo.js
  backend/routes/column.js
  frontend/src/components/main.js
  frontend/src/modules/column/patchColumn.js
  frontend/src/modules/modal.js
  frontend/src/modules/todo/addTodo.js
  frontend/src/modules/todo/deleteTodo.js
  frontend/src/modules/todo/patchTodo.js
Labels: api, backend, frontend

#114 Drag시 위치에 따라서 drop할 수 있는 위치의 요소가 나타나고 사리지는 기능 구현
  backend/app.js
  frontend/src/components/container.js
  frontend/src/modules/dragAndDrop.js
  frontend/src/modules/todo/addTodo.js
  frontend/src/scss/_droppable.scss
  frontend/src/scss/_item.scss
Labels: bug, css, feature, frontend

#116 Api/post/log
  backend/db/TodoLog/insertTodoLog.js
  backend/db/query/createTable.js
  backend/functions/todoLog.js
  backend/routes/todoLog.js
Labels: api, backend, db

#117 Drag and drop
  frontend/src/modules/dragAndDrop.js
  frontend/src/scss/_droppable.scss
Labels: bug, feature, frontend

#119 Front/api/post/log
  backend/functions/todoLog.js
  frontend/src/app.js
  frontend/src/modules/modal.js
  frontend/src/modules/sidebar.js
  frontend/src/modules/todo/addTodo.js
  frontend/src/modules/todo/deleteTodo.js
  frontend/src/modules/todo/patchTodo.js
  frontend/src/modules/todoLog.js
  frontend/src/modules/utils/actionTypeList.js
  frontend/src/modules/utils/fetchManger.js
  frontend/src/modules/utils/routerList.js
Labels: api, frontend

#120 Back/api/get/log
  backend/db/Todo/getTodoCount.js
  backend/db/TodoLog/getTodoLog.js
  backend/functions/todoLog.js
  backend/routes/column.js
  backend/routes/todoLog.js
Labels: api, backend, db

#123 Drag and drop
  frontend/src/app.js
  frontend/src/components/container.js
  frontend/src/components/item.js
  frontend/src/components/main.js
  frontend/src/modules/dragAndDrop.js
  frontend/src/modules/todo/addTodo.js
  frontend/src/modules/todo/deleteTodo.js
  frontend/src/modules/utils/updateCount.js
  frontend/src/scss/_droppable.scss
  frontend/src/scss/_item.scss
Labels: bug, feature, frontend

#125 dragdrop에 필요한 /api/todos/move/:id 완성
  backend/db/Todo/updateTodoPosition.js
  backend/functions/todo.js
  backend/routes/todo.js
Labels: api, backend, db

#129 Patch drag drop
  backend/functions/todo.js
  frontend/src/components/container.js
  frontend/src/modules/dragAndDrop.js
  frontend/src/modules/todo/addTodo.js
  frontend/src/scss/_droppable.scss
Labels: api, backend, feature, frontend

#131 컬럼 추가 프론트 구현
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/column/addColumn.js
  frontend/src/scss/_aside.scss
Labels: feature, frontend

#134 sidebar css 수정
  backend/db/TodoList/deleteTodoList.js
  backend/functions/todoList.js
  frontend/src/app.js
  frontend/src/components/container.js
  frontend/src/modules/column/addColumn.js
  frontend/src/modules/column/deleteColumn.js
  frontend/src/modules/todo/addTodo.js
  frontend/src/scss/_container.scss
  frontend/src/scss/_sidebar.scss
Labels: css, frontend

#137 드래그 앤 드랍 버그 수정함
  frontend/src/modules/dragAndDrop.js
Labels: bug

#139 Login 페이지 추가
  frontend/src/index.html
  frontend/src/scss/_footer.scss
  frontend/src/scss/_login.scss
  frontend/src/scss/_variables.scss
  frontend/src/scss/main.scss
Labels: css, frontend, layout

#140 로그인 입력창 디자인 완성
  frontend/src/index.html
  frontend/src/scss/_login.scss
  frontend/src/scss/main.scss
Labels: css, frontend, layout

#144 Login 후 메뉴바에 나타나는 UI 구현
  frontend/src/app.js
  frontend/src/index.html
  frontend/src/modules/login.js
  frontend/src/scss/_login.scss
  frontend/src/scss/_menu.scss
  frontend/src/scss/_variables.scss
Labels: css, feature, frontend
